*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.heading{
  text-align: center;
  margin-top: 5px;
}
.search{
  text-align: center;
  margin: 10px;
  display: flex;
  justify-content: center;
  gap: 8px;
}
.search-input{
  padding: 9px 10px;
  width: 400px;
  height: 40px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: black;
}
.search-input::placeholder{
  font-size: 16px;
  padding: 8px;
  color: rgb(129, 126, 126);
}
.search-button{
  border: none;
  background-color: black;
  font-weight: bold;
}
.bookList{
  margin-top: 30px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.book-card{
  width: 300px;
  height: 350px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  transition: transform 0.2s;
  cursor: pointer;
}
.book-card:hover{
  transform: scale(0.98);
}
.book-image{
  width: 100%;
  object-fit: contain;
  object-position: center;
  text-align: center;
}
.book-title{
  font-weight: bold;
  font-size: 20px;
  color: black;
  text-align: center;
}
.book-author{
  color: gray;
  font-style: italic;
  font-size: 15px;
  text-align: center;
}
.book-description{
  color: black;
  font-size: 16px;
  text-align: center;
}